.addProduct{
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25); 
    border-radius: 15px;
    padding: 50px 0px;
}
.addProduct input, textarea { 
width: 90%;
height: 50px;
margin: 15px;
padding: 10px;
border: 0px;
border-bottom: 1px solid rgba(128, 128, 128, 0.5);
};

.inputLabel{
    text-align: left;
    color: blue;

}


